.RadButton_GMMSkin
{
	font-family:Arial, Helvetica, sans-serif;
	

}
.RadButton_GMMSkin.rbSkinnedButton,.RadButton_GMMSkin .rbDecorated,.RadButton_GMMSkin .rbSecondaryIcon,.RadButton_GMMSkin.rbVerticalButton,.RadButton_GMMSkin.rbVerticalButton .rbDecorated
{
	background-image:none;
	/*font-family:Arial, Helvetica, sans-serif;*/
	
}
.RadButton_GMMSkin.rbSkinnedButton
{
	padding-left:8px;
	
}
.RadButton_GMMSkin.rbSkinnedButton .rbDecorated
{
	margin-left:-4px;
}
.RadButton_GMMSkin.rbSkinnedButton:active .rbDecorated,.RadButton_GMMSkin.rbSkinnedButtonChecked .rbDecorated,.RadButton_GMMSkin.rbSkinnedButtonChecked:hover .rbDecorated
{
	color:white;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
.RadButton_GMMSkin.RadButton input.rbDecorated,.RadButton_GMMSkin.RadButton input.rbDecorated,.RadButton_GMMSkin.RadButton input.rbDecorated:active,.RadButton_GMMSkin.RadButton input.rbDecorated:focus
{
	background-color:transparent;
	border:0 none;
	}
}
.RadButton_GMMSkin .rbSplitRight,.RadButton_GMMSkin .rbSplitLeft
{
	background-image:url('Button/ButtonSprites.gif');
	
}
.RadButton_GMMSkin .rbSplitRight,.RadButton_GMMSkin.rbLinkButton .rbSplitRight
{
	background-position:-1px 0;
	background-color:#f9f9f9;
	/*border-left:1px solid #e5e5e5;*/
}
.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitRight
{
	background-position:1px 0;

}
.RadButton_GMMSkin .rbSplitRight
{
	_right:-1px;
}
.RadButton_GMMSkin.rbDisabled .rbSplitRight
{
	_right:0;
}
.RadButton_GMMSkin.rbLinkButton .rbSplitRight
{
	background-color:#f9f9f9;
	/*border-left:1px solid #e5e5e5;*/
}
.RadButton_GMMSkin .rbSplitRight:hover,.RadButton_GMMSkin.rbLinkButton .rbSplitRight:hover
{
	background-color:#e8e8e8;
	/*border-left:1px solid #767676;*/
}
.RadButton_GMMSkin .rbSplitRight:focus,.RadButton_GMMSkin .rbSplitRight:active,.RadButton_GMMSkin.rbLinkButton .rbSplitRight:focus,.RadButton_GMMSkin.rbLinkButton .rbSplitRight:active
{
	background-color:#25a0da;
	/*border-left:1px solid #25a0da;*/
	background-position:-20px 0;
}
.RadButton_GMMSkin .rbSplitLeft,.RadButton_GMMSkin.rbLinkButton .rbSplitLeft
{
	background-position:-1px 0;
	/*border-right:1px solid #e5e5e5;*/

}
.RadButton_GMMSkin.rbLinkButton .rbSplitLeft
{
	background-color:#f9f9f9;
	/*border-right:1px solid #e5e5e5;*/
}
.RadButton_GMMSkin .rbSplitLeft:hover,.RadButton_GMMSkin.rbLinkButton .rbSplitLeft:hover
{
	background-color:#e8e8e8;
	/*border-right:1px solid #767676;*/
}
.RadButton_GMMSkin .rbSplitLeft:focus,.RadButton_GMMSkin .rbSplitLeft:active,.RadButton_GMMSkin.rbLinkButton .rbSplitLeft:focus,.RadButton_GMMSkin.rbLinkButton .rbSplitLeft:active
{
	background-color:#25a0da;
	/*border-right:1px solid #25a0da;*/
	background-position:-20px 0;
}
.RadButton_GMMSkin.rbDisabled .rbSplitLeft,.RadButton_GMMSkin.rbDisabled .rbSplitLeft:hover,.RadButton_GMMSkin.rbDisabled .rbSplitLeft:focus,.RadButton_GMMSkin.rbDisabled .rbSplitLeft:active,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft:hover,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft:active,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft:focus,.RadButton_GMMSkin.rbDisabled .rbSplitRight,.RadButton_GMMSkin.rbDisabled .rbSplitRight:hover,.RadButton_GMMSkin.rbDisabled .rbSplitRight:focus,.RadButton_GMMSkin.rbDisabled .rbSplitRight:active,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitRight,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitRight:hover,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitRight:active,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	background-color:transparent;
	background-position:-1px 0!important;
}
.RadButton_GMMSkin .rbDisabled .rbSplitRight,.RadButton_GMMSkin .rbDisabled .rbSplitRight:hover,.RadButton_GMMSkin .rbDisabled .rbSplitRight:focus,.RadButton_GMMSkin .rbDisabled .rbSplitRight:active,.RadButton_GMMSkin .rbDisabled .rbSplitLeft,.RadButton_GMMSkin .rbDisabled .rbSplitLeft:hover,.RadButton_GMMSkin .rbDisabled .rbSplitLeft:focus,.RadButton_GMMSkin .rbDisabled .rbSplitLeft:active
{
	_background-position:-1px 0!important;
}
.RadButton_GMMSkin.rbDisabled .rbSplitLeft,.RadButton_GMMSkin.rbDisabled .rbSplitLeft:hover,.RadButton_GMMSkin.rbDisabled .rbSplitLeft:focus,.RadButton_GMMSkin.rbDisabled .rbSplitLeft:active,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft:hover,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft:active,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	/*border-right:1px solid #e5e5e5;*/
}
.RadButton_GMMSkin.rbDisabled .rbSplitRight,.RadButton_GMMSkin.rbLinkButton.rbDisabled .rbSplitRight
{
	/*border-left:1px solid #e5e5e5;*/
}
.RadButton_GMMSkin .rbSplitLeft:focus,.RadButton_GMMSkin .rbSplitLeft:active,.RadButton_GMMSkin.rbLinkButton .rbSplitLeft:focus,.RadButton_GMMSkin.rbLinkButton .rbSplitLeft:active
{
	background-color:#25a0da;
	/*border-right:1px solid #25a0da;*/
}
.RadButton_GMMSkin.rbVerticalButton
{
	padding-left:0;
}
.RadButton_GMMSkin.rbVerticalButton .rbDecorated
{
	padding-left:8px;
}
.RadButton_GMMSkin.rbVerticalButton .rbDecorated.rbPrimary
{
	padding-left:40px;
}
.RadButton_GMMSkin.rbSkinnedButton,.RadButton_GMMSkin.rbVerticalButton,.RadButton_GMMSkin .rbDecorated,.RadButton_GMMSkin.rbVerticalButton,.RadButton_GMMSkin.RadButton.rbDisabled,.RadButton_GMMSkin.RadButton.rbDisabled:hover,.RadButton_GMMSkin.RadButton.rbDisabled:active,.RadButton_GMMSkin.RadButton.rbDisabled:focus
{
	background-color:#f9f9f9;
	color:black;
}	.RadButton_GMMSkin.rbSkinnedButton,.RadButton_GMMSkin.rbVerticalButton,.RadButton_GMMSkin.RadButton.rbDisabled,.RadButton_GMMSkin.RadButton.rbDisabled:hover,.RadButton_GMMSkin.RadButton.rbDisabled:active,.RadButton_GMMSkin.RadButton.rbDisabled:focus
{
	/*border:1px solid #e5e5e5;*/
}
.RadButton_GMMSkin.rbSkinnedButton,.RadButton_GMMSkin.rbVerticalButton
{
	/*_border:1px solid #e5e5e5!important;*/
}
	.RadButton_GMMSkin.rbSkinnedButton:hover,.RadButton_GMMSkin.rbVerticalButton:hover,.RadButton_GMMSkin:hover .rbDecorated
{
	color:black;background-color:#e5e5e5;
}
.RadButton_GMMSkin.rbSkinnedButton:hover,.RadButton_GMMSkin.rbVerticalButton:hover
{
	/*border:1px solid #767676*/
}
.RadButton_GMMSkin.rbSkinnedButton:active,.RadButton_GMMSkin.rbVerticalButton:active,.RadButton_GMMSkin.rbSkinnedButton:active .rbDecorated,.RadButton_GMMSkin.rbVerticalButton:active .rbDecorated,.RadButton_GMMSkin.rbPressedButton.rbSkinnedButton,.RadButton_GMMSkin.rbPressedButton .rbDecorated
{
	background-color:#25a0da;
	color:white;
}
.RadButton_GMMSkin.rbSkinnedButton:active,.RadButton_GMMSkin.rbVerticalButton:active
{
	/*border:1px solid #25a0da;*/
}
.RadButton_GMMSkin.rbSkinnedButtonChecked,.RadButton_GMMSkin.rbSkinnedButtonChecked:hover,.RadButton_GMMSkin.rbSkinnedButtonChecked input.rbDecorated,.RadButton_GMMSkin.rbSkinnedButtonChecked:hover .rbDecorated
{
	background-color:#25a0da;
	/*border:1px solid #25a0da;*/
}
.RadButton_GMMSkin .rbToggleCheckbox,.RadButton_GMMSkin .rbToggleCheckboxChecked,.RadButton_GMMSkin .rbToggleCheckboxFilled,.RadButton_GMMSkin .rbToggleRadio,.RadButton_GMMSkin .rbToggleRadioChecked
{
	background-image:url('Common/radFormToggleSprite.png');
	_background-image:url('Common/radFormToggleSpriteIE6.png');
}	.RadButton_GMMSkin.RadButton.rbToggleButton,.RadButton_GMMSkin.RadButton.rbToggleButton.rbDisabled,.RadButton_GMMSkin.RadButton.rbToggleButton.rbDisabled:hover,.RadButton_GMMSkin.rbDisabled .rbDecorated,.RadButton_GMMSkin.rbDisabled:hover .rbDecorated{color:black}.RadButton_GMMSkin.RadButton.rbToggleButton:hover
{
	border:0 none;
	color:#25a0da;
}
.RadButton_GMMSkin.RadButton.rbToggleButton:active,.RadButton_GMMSkin.RadButton.rbToggleButton:focus
{
	background-color:transparent;border:0;
}
.RadButton_GMMSkin.RadButton.rbLinkButton
{
	/*background-color:#f0f;*/
	background-color:#4cb6e1;
	/*border:1px solid #e5e5e5;*/
	/*text-decoration:none;*/
	color:black;
}
.RadButton_GMMSkin.RadButton.rbLinkButton:hover
{
	background-color:#4cb6e1;
	/*border:1px solid #767676;*/
	color:black;
}	.RadButton_GMMSkin.RadButton:active,.RadButton_GMMSkin.RadButton:focus,.RadButton_GMMSkin.rbPressedButton,.RadButton_GMMSkin.RadButton.rbSkinnedButtonChecked,.RadButton_GMMSkin.RadButton.rbSkinnedButtonChecked:hover,.RadButton_GMMSkin.RadButton.rbLinkButtonChecked,.RadButton_GMMSkin.RadButton.rbLinkButtonChecked:hover,.RadButton_GMMSkin.RadButton.rbVerticalButtonChecked,.RadButton_GMMSkin.RadButton.rbVerticalButtonChecked:hover
{
	/*border:0px solid #25a0da;*/
	/*background-color:#25a0da;*/
	color:white;
}
.RadButton_GMMSkin.RadButton.rbPressedButton
{
	background-color:#25a0da;
}
.RadButton_GMMSkin.RadButton:active .rbDecorated,.RadButton_GMMSkin.RadButton:focus .rbDecorated,.RadButton_GMMSkin.RadButton.rbSkinnedButtonChecked .rbDecorated,.RadButton_GMMSkin.RadButton.rbSkinnedButtonChecked:hover .rbDecorated,.RadButton_GMMSkin.RadButton.rbLinkButtonChecked .rbDecorated,.RadButton_GMMSkin.RadButton.rbLinkButtonChecked:hover .rbDecorated
{
	color:white;
}
.RadButton_GMMSkin.rbToggleButton:active .rbText,.RadButton_GMMSkin.rbToggleButton:focus .rbText
{
	color:black;
}
.RadButton_GMMSkin.rbSkinnedButton,.RadButton_GMMSkin .rbDecorated
{
	height:20px;
}	.RadButton_GMMSkin.rbSkinnedButton.rbDisabled,.RadButton_GMMSkin.rbVerticalButton.rbDisabled,.RadButton_GMMSkin.rbLinkButton.rbDisabled,.RadButton_GMMSkin.rbLinkButton.rbDisabled:hover
{
	background-color:#4cb6e1;
	/*color:black;*/
	/*border:1px solid #e5e5e5;*/
	cursor:default;
}
.RadButton_GMMSkin.rbSkinnedButton.rbDisabled .rbDecorated,.RadButton_GMMSkin.rbVerticalButton.rbDisabled:hover .rbDecorated,.RadButton_GMMSkin.rbLinkButton.rbDisabled,.RadButton_GMMSkin.rbLinkButton.rbDisabled:hover
{
	background-color:#f9f9f9;
	color:black;
}
.RadButton_GMMSkin.rbLinkButton,.RadButton_GMMSkin.rbLinkButton:hover
{
	/*_border:1px solid #e5e5e5!important;*/
}
.RadButton_GMMSkin.rbDisabled,.RadButton_GMMSkin.rbDisabled .rbToggleCheckbox,.RadButton_GMMSkin.rbDisabled .rbToggleCheckboxChecked,.RadButton_GMMSkin.rbDisabled .rbToggleRadio,.RadButton_GMMSkin.rbDisabled .rbToggleRadioChecked,.RadButton_GMMSkin.rbDisabled .rbToggleCheckboxFilled
{
	opacity:.6;
}	.RadButton_GMMSkin.RadButton.rbToggleButton.rbDisabled,.RadButton_GMMSkin.RadButton.rbToggleButton.rbDisabled:hover,.RadButton_GMMSkin.RadButton.rbToggleButton.rbDisabled:active,.RadButton_GMMSkin.RadButton.rbToggleButton.rbDisabled:focus
{
	background-color:transparent;
	background-image:none;
	border:0;
	height:auto;
}
.RadButton_GMMSkin.rbLinkButton.rbRounded
{
	border-radius:0;
}
.RadButton_GMMSkin .rbAdd,.RadButton_GMMSkin .rbRemove,.RadButton_GMMSkin .rbOk,.RadButton_GMMSkin .rbCancel,.RadButton_GMMSkin .rbPrevious,.RadButton_GMMSkin .rbNext,.RadButton_GMMSkin .rbSave,.RadButton_GMMSkin .rbConfig,.RadButton_GMMSkin .rbRefresh,.RadButton_GMMSkin .rbEdit
{
	background-image:url('Common/rbBasicIcons16x16Dark.png')!important;
}
.RadButton_GMMSkin .rbUpload,.RadButton_GMMSkin .rbDownload,.RadButton_GMMSkin .rbOpen,.RadButton_GMMSkin .rbAttach,.RadButton_GMMSkin .rbPrint,.RadButton_GMMSkin .rbSearch,.RadButton_GMMSkin .rbHelp,.RadButton_GMMSkin .rbCart,.RadButton_GMMSkin .rbRSS,.RadButton_GMMSkin .rbMail,.RadButton_GMMSkin .rbFB,.RadButton_GMMSkin .rbTwitter
{
	background-image:url('Common/rbExtendedIcons16x16Dark.png')!important;
}
.RadButton_GMMSkin .rbAdd24,.RadButton_GMMSkin .rbRemove24,.RadButton_GMMSkin .rbOk24,.RadButton_GMMSkin .rbCancel24,.RadButton_GMMSkin .rbPrevious24,.RadButton_GMMSkin .rbNext24,.RadButton_GMMSkin .rbSave24,.RadButton_GMMSkin .rbConfig24,.RadButton_GMMSkin .rbRefresh24,.RadButton_GMMSkin .rbEdit24
{
	background-image:url('Common/rbBasicIcons24x24Dark.png')!important;
}
.RadButton_GMMSkin .rbUpload24,.RadButton_GMMSkin .rbDownload24,.RadButton_GMMSkin .rbOpen24,.RadButton_GMMSkin .rbAttach24,.RadButton_GMMSkin .rbPrint24,.RadButton_GMMSkin .rbSearch24,.RadButton_GMMSkin .rbHelp24,.RadButton_GMMSkin .rbCart24,.RadButton_GMMSkin .rbRSS24,.RadButton_GMMSkin .rbMail24,.RadButton_GMMSkin .rbFB24,.RadButton_GMMSkin .rbTwitter24
{
	background-image:url('Common/rbExtendedIcons24x24Dark.png')!important;
}
 .RadButton_GMMSkin.rbLinkButton:active 
{
	background-color: rgb(0, 82, 159);
}
 .RadButton_GMMSkin:active .rbDecorated 
{
	/*border-color: rgb(0, 51, 153);*/
	background-color: rgb(0, 82, 159);
}
 .RadButton_GMMSkin:active.rbSkinnedButton
{
	background-color: rgb(0, 82, 159);
}